<!DOCTYPE html>
<!-- saved from url=(0025)http://loyallighting.com/ -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/media.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/queryLoader.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.lightbox-0.5.css" >

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/respond.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.dimensions.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.bxSlider.min.js"></script>
    <script type="text/javascript" src="/javascripts/TweenMax.min.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.pack.js"></script>
    <!--script type="text/javascript" src="/javascripts/webServer.js"></script-->
    <!--[if lte IE 6]>
    <script type="text/javascript" src="http://loyallighting.com/themes/LOYAL/default/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
        DD_belatedPNG.fix('div,li,li.current,a,h3,span,img,ul,input,dd,dt,em');
    </script>
    <![endif]-->
    <style type="text/css">
        *{ margin:0; padding:0; list-style:none;}
        img{ border:0;}
        .keifu{ position:fixed; top:10%; right:0; width:131px;  _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.bottom,10)||0)-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
            z-index:990;}
        .keifu_tab{ width:160px;}
        .icon_keifu{ width:26px; height:100px; float:left; background:url(./images/keifu.png) 0 0; position:relative; display:none; cursor:pointer;}
        .keifu_box{ float:left; width:131px;}
        .keifu_tab img{ display:block;}
        .keifu_head{ width:131px; height:40px; background:url(./images/keifu.png); background-position: 0 -104px; font-size:0; line-height:0; position:relative;}
        .keifu_close:link,.keifu_close:visited{ display:block; width:11px; height:11px; background:url(./images/keifu.png) -42px 0; position:absolute; top:4px; right:5px;}
        .keifu_close:hover{ background-position:-60px 0;}
        .keifu_con{ border-left:7px solid #029bdb; border-right:7px solid #029bdb; padding-top:15px; background:#fbfbfb;}
        .keifu_con li{height:33px; padding-left:12px;}
        .keifu_bot{ width:131px; height:69px; background:url(./images/keifu.png); background-position:0 -149px; }
    </style>
</head>
<body>
<div class="keifu">
    <div class="keifu_tab">
        <div class="icon_keifu"></div>
        <div class="keifu_box">
            <div class="keifu_head"><a href="javascript:void(0)" class="keifu_close"></a></div>
            <ul class="keifu_con">
                <li>
                    <a target="_self" href="tencent://message/?uin=406029034&amp;Site=www.chineve.com&amp;Menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:406029034:41" ></a>
                </li>
                <li>
                    <a target="_self" href="tencent://message/?uin=406029034&amp;Site=www.chineve.com&amp;Menu=yes">
                        <img border="0" src="http://wpa.qq.com/pa?p=2:406029034:41" ></a>
                </li>
                <li><a target="_blank" href="skype:Adam.ren?call" _fcksavedurl="skype:Adam.ren?call" onclick="return skypeCheck();">
                    <img border="0" width="75" src="http://im.ebudaowei.com:80/foreground/images/skype.gif" alt="请点击联系"></a>
                </li>
                <li><a target="_blank" href="skype:Adam.ren?call" _fcksavedurl="skype:Adam.ren?call" onclick="return skypeCheck();">
                    <img border="0" width="75" src="http://im.ebudaowei.com:80/foreground/images/skype.gif" alt="请点击联系"></a>
                </li>
            </ul>
            <div class="keifu_bot"></div>
        </div>
    </div>
</div>
<div id="mainbox" >
    <div class="lang" style="
        height: 25px;
        position: absolute;
        z-index: 1000;
        top: 10px;
        right: 8px;">
        <select>
            <% if(selected === '0'){%>
            <option value="0" selected="selected" >简体中文</option>
            <option value="1">English</option>
            <%}else{%>
            <option value="0">简体中文</option>
            <option value="1"  selected="selected">English</option>
            <%}%>
        </select>
    </div>

    <div class="nav_bg">
        <ul id="main_nav">
            <li class = 'sub_menu_1_product' target="sub_menu_1"><a href="/products"><%= navigation_bar[0]['name'] %></a></li>
            <li target="sub_menu_2"><a href="http://loyallighting.com/index.php/solution"><%= navigation_bar[1]['name'] %></a></li>
            <li target="sub_menu_3"><a href="http://loyallighting.com/index.php/services"><%= navigation_bar[2]['name'] %></a></li>
            <li class="logo"><a href="/" style="display:block; width:100%;height:100%;"></a></li>
            <li target="sub_menu_4"><a href="http://loyallighting.com/index.php/about"><%= navigation_bar[3]['name'] %></a></li>
            <li target="sub_menu_5"><a href="http://loyallighting.com/index.php/news"><%= navigation_bar[4]['name'] %></a></li>
            <li target="sub_menu_6"><a href="http://loyallighting.com/index.php/light"><%= navigation_bar[5]['name'] %></a></li>
        </ul>
        <div id="clear_submenu"></div>
        <div id="sub_nav" style="opacity: 1; display: none; height: 339px;">
            <div id="sub_menu_1" class="sub_menu" style="height: 0px; display: none;">
                <h2><%= navigation_bar[0]['name'] %></h2>
                <div class="sub_menu_content">
                    <!-- init data here loop -->
                    <% for(var i=0; i<product.length; i++) {%>
                    <div class="category" >
                        <h3><a href="http://loyallighting.com/#"><%= product[i]['series'] %></a></h3>
                        <ul>
                            <% for(var m=0; m<product[i]['childArray'].length; m++) {%>
                            <li><a href="/productsList?parentId=<%=product[i]['childArray'][m]['id'] %>"><%=product[i]['childArray'][m]['category'] %></a></li>
                            <% } %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="sub_menu_2" class="sub_menu" style="height: 0px; display: none;">
                <h2><%= navigation_bar[1]['name'] %></h2>
                <div class="sub_menu_content">
                    <div class="category">
                        <h3></h3>
                        <ul class="sub2">
                            <li><a href="http://loyallighting.com/index.php/cases">工程案例</a></li>
                            <li><a href="http://loyallighting.com/index.php/application">行业应用</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="sub_menu_3" class="sub_menu" style="height: 0px; display: none;">
                <h2><%= navigation_bar[2]['name'] %></h2>
                <div class="sub_menu_content">
                    <div class="category">
                        <h3></h3>
                        <ul class="sub2">
                            <li><a href="http://loyallighting.com/index.php/edu">照明知识</a></li>
                            <li><a href="http://loyallighting.com/index.php/downloads">下载专区</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="sub_menu_4" class="sub_menu" style="height: 0px; display: none;">
                <h2><%= navigation_bar[3]['name'] %></h2>
                <div class="sub_menu_content">
                    <div class="category">
                        <h3></h3>
                        <ul>
                            <li><a href="http://loyallighting.com/index.php/about-loyal">关于莱亚</a></li>
                            <li><a href="http://loyallighting.com/index.php/brand-idea">品牌理念</a></li>
                            <li><a href="http://loyallighting.com/index.php/history">发展历程</a></li>
                            <li><a href="http://loyallighting.com/index.php/certification">资质认证</a></li>
                            <li><a href="http://loyallighting.com/index.php/reality">实景展示</a></li>
                            <li><a href="http://loyallighting.com/index.php/development">研发系统</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="sub_menu_5" class="sub_menu" style="height: 0px; display: none;">
                <h2><%= navigation_bar[4]['name'] %></h2>
                <div class="sub_menu_content">
                    <div class="category">
                        <h3></h3>
                        <ul class="sub2">
                            <li><a href="http://loyallighting.com/index.php/company-news">公司资讯</a></li>
                            <li><a href="http://loyallighting.com/index.php/industry">行业资讯</a></li>
                            <li><a href="http://loyallighting.com/index.php/exhibition">展会动态</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="sub_menu_6" class="sub_menu" style="height: 0px; display: none;">
                <h2><%= navigation_bar[5]['name'] %></h2>
                <div class="sub_menu_content">
                    <div class="category">
                        <h3>光源的发展史</h3>
                        <ul class="sub2">

                            <li><a href="http://loyallighting.com/index.php/light-909.html">第一代光源-白炽灯</a></li>

                            <li><a href="http://loyallighting.com/index.php/light-910.html">第二代光源-低气压气体放电灯</a></li>

                            <li><a href="http://loyallighting.com/index.php/light-911.html">第三代光源-HID高强度气体放电灯</a></li>

                            <li><a href="http://loyallighting.com/index.php/light-912.html">第四代光源-LED发光二极管</a></li>

                        </ul>
                    </div>
                    <div class="category">
                        <h3>光与环境</h3>
                        <ul class="sub2">

                            <li><a href="http://loyallighting.com/index.php/light-913.html">绿色照明</a></li>

                            <li><a href="http://loyallighting.com/index.php/light-914.html">能源和光源企业宗旨</a></li>

                        </ul>
                    </div>
                    <div class="category">
                        <h3>光与艺术</h3>
                        <ul class="sub2">

                            <li><a href="http://loyallighting.com/index.php/light-916.html">生活中的光</a></li>

                            <li><a href="http://loyallighting.com/index.php/light-915.html">光的艺术作用</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script language="javascript">

//    $(function(){
//        $("#clear_submenu").hover(function(){
//            $("#main_nav li:not(.logo,.nosub)").removeClass("current");
//            $("#sub_nav .sub_menu").css({height:'0px'}).hide();
//            $("#sub_nav").hide();
//        });
//    });

    $(function () {
        $("select").bind("change", function () {
            var kind = '';
            if ($(this).val() == "0"){
                kind = '0'
            }
            else if($(this).val() == "1"){
                kind = '1'
            }

            $.post("/switch_lang",{language:kind},
                    function (data) {
                        if(data === 'success'){
                            window.location.href="/";
                        }
            });
        })

        var KF = $(".keifu");
        var wkbox = $(".keifu_box");
        var kf_close = $(".keifu .keifu_close");
        var icon_keifu = $(".icon_keifu");
        var kH = wkbox.height();
        var kW = wkbox.width();
        var wH = $(window).height();
        KF.css({height:kH});
        icon_keifu.css("top",parseInt((kH-100)/2));
        var KF_top = (wH-kH)/2;
        if(KF_top<0) KF_top=0;
        KF.css("top",KF_top);
        $(kf_close).click(function(){
            KF.animate({width:"0"},200,function(){
                wkbox.hide();
                icon_keifu.show();
                KF.animate({width:26},300);
            });
        });
        $(icon_keifu).click(function(){
            $(this).hide();
            wkbox.show();
            KF.animate({width:kW},200);
        });
    });


</script>