<%- include bg_header %>
<!--后台右侧栏位的布局-->

<style type="text/css">
</style>
<script language="javascript">

    $(function () {
        laypage({
            cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
            pages: <%=page %>,
            skip: true, //是否开启跳页
            skin: '#AF0000',
            groups: 5, //连续显示分页数
            hash: true, //会对url追加#!laypage_
            jump: function(obj){
                //$('#view6').html('看看URL的变化。通过hash，你可以记录当前页。当前正处于第'+obj.curr+'页');
                alert(obj.curr);
            }
        });

        $(".select-productsSeries").bind("change", function () {
            if ($(this).val() !== "-1"){
                $(".select-productsCategory").css({display:'inline'});
                //first step empty option
                $(".select-productsCategory").empty();
                //and get info in this series
                var parentId = parseInt($(this).val()) + 1;
                $.get("/select_category?parentId=" + parentId,function(data){
                    $('<option value="-1">选择型号</option>').appendTo(".select-productsCategory");
                    for(var i=0; i<data.length; i++) {
                        var html = '<option value=' + data[i].id + '>' + data[i].name + '</option>';
                        $(html).appendTo(".select-productsCategory");
                    }
                });

            }else{
                $(".select-productsCategory").css({display:'none'});
                //get all of products info
                laypage({
                    cont: $('#page'),
                    pages: <%=page %>,
                    skip: true,
                    skin: '#AF0000',
                    groups: 3,
                    hash: true,
                    jump: function(obj){
                        //$('#view6').html('看看URL的变化。通过hash，你可以记录当前页。当前正处于第'+obj.curr+'页');
                        $.get("/select_listByPageId?pageId=" + obj.curr,function(data){
                            alert(data['productsList'][0].name);
                        });
                    }
                });
            }
        });

        $(".select-productsCategory").bind("change", function () {
            $(".select-productsCategory option[value='-1']").remove(); //删除Select中'选择型号'

            var parentId = $(this).val();

            laypage({
                cont: $('#page'),
                pages: <%=page %>,
                skip: true,
                skin: '#AF0000',
                groups: 3,
                hash: true,
                jump: function(obj){
                    //$('#view6').html('看看URL的变化。通过hash，你可以记录当前页。当前正处于第'+obj.curr+'页');
                    $.get("/select_listByPageId?parentId=" + parentId + '&pageId=' + obj.curr,function(data){
                        alert(data['productsList'][0].name);
                    });
                }
            });
            /*$.get("/select_list?parentId=" + parentId,function(data){
                var $html = '<tr>' +
                        '<td>1</td><td>Mark</td><td>Tompson</td><td>the_mark8</td><td><a href="user.html"><i class="icon-pencil"></i></a><a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a></td>' +
                        '</tr>';

                $("#tb_productList").replaceWith($html);
                /*for(var i=0; i<data.length; i++) {
                    var html = '<option value=' + data[i].id + '>' + data[i].name + '</option>';
                    $(html).appendTo(".select-productsCategory");
                }
            });*/
            //window.location.href="/";
        });
    });
</script>
<div class="span9">
    <h1 class="page-title">Products</h1>
    <div class="add-product" style="position:relative">
        <div>
            <label style="display :inline">按类型筛选:</label>
            <select class="select-productsSeries">
                <option value="-1">全部</option>
                <%for(var m=0; m<productSeries.length; m++){%>
                    <option value=<%=m %> > <%= productSeries[m]['name'] %></option>
                <%}%>
            </select>
            <select class="select-productsCategory" style="display: none">
                <option value="-1">选择型号</option>
            </select>
            <button class="btn btn-primary" style="position:absolute;right:10px;">
                <i class="icon-plus"></i> 添加产品
            </button>
        </div>
    </div>
    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th>编号</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th style="width: 26px;"></th>
            </tr>
            </thead>
            <tbody id = "tb_productList">
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Tompson</td>
                <td>the_mark7</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination" id = 'page'>
        <!--ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">Next</a></li>
        </ul-->
    </div>

    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
    </div>

</div>
</div>

<%- include bg_footer %>


