<%- include header %>

<div class="nav_bg2" style=" position:absolute; z-index:666; width:100%; overflow:hidden;"><img src="./images/nav_bg2.jpg" width="1600" height="111"></div>
<!-- nav 底图2 -->
<div id="indexMc" style="width:990px; height:420px;position:absolute;z-index:4; display:none;">
    <%
        var data = {};
        if(parseInt(productId) === 0){
            data = productsList[0]
        }else{
            for(var m=0; m<productsList.length; m++){
                if(parseInt(productId) === productsList[m].id){
                    data = productsList[m];
                    break;
                }
            }
        }
    %>
    <div style="position:relative;">

        <div class="proPicBox">
            <div class="bigPic">
                <ul>
                    <li><img src="<%= data['img'] %>" width="450"  ></li>
                </ul>
            </div>
            <div class="picAlbum"><ul>
                    <li><img src="http://loyallighting.com/media/cn/201311/1384300579744040384.png" width="50" height="50"></li>
                </ul>
            </div>
        </div><!-- proPicbox -->
        <div class="proTxtBox">
            <div class="pro_category_title">
                <!--img src="http://loyallighting.com/media/cn/201403/1394579398661758164.jpg" width="233" height="73"-->
            </div>
            <div class="pro_name"><%= data['name'] %></div>
            <div class="pro_info_tab">
                <ul>
                    <li class="current" target="1">产品参数</li>
                    <li target="2">配光曲线</li>
                    <li target="3">应用环境</li>
                    <li target="4">产品结构图</li>
                    <li target="5">其他</li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="pro_info_content">
                <div id="content1" class="itemBox" style="display:block;">
                    <table class=" noBorderTable" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                            <td>型号: &nbsp; </td>
                            <td>YPZ-220/32-4U <br />
                            </td><td>产品尺寸:</td>
                            <td>58*175<br /></td>
                        </tr>
                        <tr>
                            <td>额定电压: </td>
                            <td>220-240<br /></td>
                            <td>额定功率:</td>
                            <td>32w<br /></td>
                        </tr>
                        <tr>
                            <td>管径:</td>
                            <td>Φ12<br /></td>
                            <td>色温:<br /></td>
                            <td>2700K-6500K</td>
                        </tr>
                        <tr>
                            <td>光通量:<br /></td>
                            <td>1020<br /></td>
                            <td>光效:<br /></td>
                            <td>63<br /></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">适用场合:<br /></td>
                            <td style="text-align:left;" rowspan="2" colspan="3"><p><br /></p><p><br /></p></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;"><br /></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--div id="content2" class="itemBox"><a href="http://loyallighting.com/" data-lightbox="example1166" title="YPZ-220/32-4U-光谱图"><img src="http://loyallighting.com/" width="520" height="258" /></a></div>
                <div id="content3" class="itemBox">
                    <a href="http://loyallighting.com/media/cn/201403/1394733635622730294.jpg" data-lightbox="examples" title="YPZ-220/32-4U-应用环境-YPZ-220/32-4U"><img src="http://loyallighting.com/media/cn/201403/1394733635667155444.jpg" width="520" height="258" /></a>
                </div>
                <div id="content4" class="itemBox"><a href="http://loyallighting.com/" data-lightbox="example1166" title="YPZ-220/32-4U-产品结构图"><img src="http://loyallighting.com/" width="520" height="258" /></a></div>
                <div id="content5" class="itemBox"><a href="http://loyallighting.com/" data-lightbox="example1166" title="YPZ-220/32-4U-其他图例"><img src="http://loyallighting.com/" width="520" height="258" /></a></div-->
            </div>

        </div><!-- proTxtBox -->    </div>
</div>
<div class="product_cate_nav" style=" height:30px; width:100%; position:absolute; bottom:126px;left:0px; z-index:999; line-height:30px; text-align:right">
    <a href="http://loyallighting.com/index.php/uxingjienengdeng">上一系列</a>
    &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://loyallighting.com/index.php/lazhuxingjienengdeng">下一系列</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div id="productList">
    <div class="btn_prev"></div>
    <div class="listBox" style="display:none;">
        <ul>
            <% for(var i=0; i<productsList.length; i++) {%>
            <li><a href="/productsList?id=<%= productsList[i]['id'] %>&parentId=<%= productsList[i]['parent_id'] %>">
                    <img src=<%= productsList[i]['thumb'] %> width="107" height="87" /></img>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="btn_next"></div>
</div>
<div id="copyright"><img src="http://www.loyallighting.com/themes/LOYAL/default/images/copyright.jpg" width="266" height="19"></div>
<div id="footerbg"></div>
</div>
<div id="loading">Loading...</div>
<script type="text/javascript">$(function(){$.backstretch("http://loyallighting.com/themes/LOYAL/default/images/bg2.jpg");});</script>
<script type="text/javascript">
    //QueryLoader.selectorPreload = "body";
    //QueryLoader.init();
    var $page_width=$("body").width()<1003?1003:$("body").width();
    var $page_height=$("body").height()<700?700:$("body").height();
    var supportsOrientationChange = "onorientationchange" in window,
            orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";
    $(function(){
        $(window).bind(orientationEvent, function() {resize();});
        resize();


        $("#main_nav li:not(.logo,.nosub)").hover(function(){
            $("#main_nav li:not(.logo,.nosub)").removeClass("current");
            $(this).addClass("current");
            if($("#sub_nav").css("display")=='none'){
                $("#sub_nav").css({opacity:0}).show();
            }
            TweenMax.to($('#sub_nav'), 0.3, {css:{opacity:1,height:339}});
            $("#sub_nav .sub_menu").hide();
            $("#sub_nav #"+$(this).attr("target")).show();

        });//hover end

        $("#sub_nav").hover(function(){},function(){
            $("#main_nav li:not(.logo,.nosub)").removeClass("current");
            $("#sub_nav .sub_menu").css({height:'0px'}).hide();
            $("#sub_nav").hide();
            //TweenMax.fromTo($('#sub_nav'), 1.8, {css:{opacity:1}}, {css:{opacity: 0,display: 'none'}});
        });

        $(".picAlbum>ul>li").click(function(){
            //alert($(".proPicBox .bigPic img").attr('src'));
            //alert($("#productList .proPicBox .bigPic img").width());
            //$(".bigPic img").attr('src',$(this).attr('rel'));
            var selected=$(".picAlbum>ul>li").index($(this));
            $(".bigPic>ul>li").fadeOut(300);
            $(".bigPic>ul>li:eq("+selected+")").css('left',0).fadeIn(300);

        });

        $("#productList .listBox>ul>li").hover(function(){$(this).css('opacity',1);},function(){$(this).css('opacity',0.8);});
    });

    function resize(){
        $page_width=$("body").width()<1003?1003:$("body").width();
        $page_height=($("body").height()<700?700:$("body").height());
        $("#mainbox,.nav_bg,#footerbg").width($page_width);
        $("#mainbox").height($page_height);
        $(".nav_bg2 img").attr("width",$page_width);
        reposition();
    }

    var $itemWidth=$("#productList .listBox>ul>li").width();
    var $itemCount=$("#productList .listBox>ul>li").size();
    var $itemMargin=1;

    function reposition(){
        $mc_width=$("#indexMc").width();
        $mc_height=$("#indexMc").height();
        $("#indexMc").css({top:$page_height/2-$mc_height/2,left:$page_width/2-$mc_width/2});
        $("#loading").css({top:$page_height/2-30,left:$page_width/2-30});

        $('.pro_info_tab li').hover(function(){
            $('.pro_info_tab li').removeClass("current");
            $(this).addClass('current');
            $('.pro_info_content .itemBox').hide();
            $target='#content'+$(this).attr('target');
            $($target).show();
        });

        //productList btn_prev btn_next
        var $containerWidth=$("#productList .listBox").width();
        var $contentWidth=$("#productList .listBox>ul").width();
        var $btn_prev_w=$(".btn_prev").width();
        var $btn_next_w=$(".btn_next").width();
        $itemWidth=$("#productList .listBox>ul>li").width();
        $itemCount=$("#productList .listBox>ul>li").size();
        $itemMargin=1;

        var $itemBigWidth=$itemWidth+$itemMargin;
        var $ItemBoxWidth=$itemBigWidth*$itemCount;
        var $maxItemBoxWidth=$page_width-$btn_prev_w-$btn_next_w;

        var $maxItemBoxWidth=parseInt($maxItemBoxWidth/$itemBigWidth)*$itemBigWidth;



        $("#productList .listBox").css({width:$maxItemBoxWidth,overflow:"hidden"});
        $("#productList .listBox>ul").css({width:$ItemBoxWidth,display:'block'});

    }

    function indexMcAnt(){
        //if($.browser.msie) {correctPNG();}

        var $album_width=$(".picAlbum>ul>li").size() * 56;
        $(".picAlbum>ul").css({'width':$album_width+'px','margin-left':'auto','margin-right':'auto'});
        $(".bigPic>ul>li:first").css('left',0).show();

        $("#productList .listBox>ul>li").css('opacity',0.8);

        $obj1=$('#indexMc');
        $obj1.css({opacity:0}).show();
        TweenMax.fromTo($obj1, 1, {css:{opacity:0}},{css:{opacity:1}});
    }

    $("#productList .btn_next").click(function(){


        var $containerWidth=$("#productList .listBox").width();
        var $contentWidth=$("#productList .listBox>ul").width();
        $itemWidth=$("#productList .listBox>ul>li").width();
        $itemCount=$("#productList .listBox>ul>li").size();
        var $itemBigWidth=$itemWidth+$itemMargin;
        var $ItemBoxWidth=$itemBigWidth*$itemCount;

        if($containerWidth < $contentWidth){
            var $currentLeft=parseInt($("#productList .listBox>ul").css("margin-left"));
            var $minLeft=0;
            var $maxLeft=$containerWidth-$contentWidth;
            var $scrollpx=parseInt($itemCount/4)*($itemWidth+$itemMargin);
            if($scrollpx>$ItemBoxWidth){$scrollpx=$ItemBoxWidth;}
            var $targetLeft=$currentLeft-$scrollpx;
            if($targetLeft<$maxLeft){$targetLeft=$maxLeft;}
            $("#productList .listBox>ul").animate({"margin-left":$targetLeft},function(){});
        }

    });
    // *** end #scrollBut next click ***

    $("#productList .btn_prev").click(function(){

        var $containerWidth=$("#productList .listBox").width();
        var $contentWidth=$("#productList .listBox>ul").width();
        $itemWidth=$("#productList .listBox>ul>li").width();
        $itemCount=$("#productList .listBox>ul>li").size();
        var $itemBigWidth=$itemWidth+$itemMargin;
        var $ItemBoxWidth=$itemBigWidth*$itemCount;

        var $currentLeft=parseInt($("#productList .listBox>ul").css("margin-left"));
        var $minLeft=0;
        var $maxLeft=$containerWidth-$contentWidth;
        var $scrollpx=parseInt($itemCount/4)*($itemWidth+$itemMargin);
        if($scrollpx>$ItemBoxWidth){$scrollpx=$ItemBoxWidth;}
        var $targetLeft=$currentLeft+$scrollpx;
        if($targetLeft>$minLeft){$targetLeft=$minLeft;}
        $("#productList .listBox>ul").animate({"margin-left":$targetLeft},function(){});
    });
    // *** end #scrollBut prev click ***

    $(window).load(function() {
        TweenMax.to($("#loading"), 1, {css:{opacity:0},onComplete:function(){$('.listBox').show();indexMcAnt();reposition();}});
    });

</script>

<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 729px; width: 1583px; z-index: -999999; position: fixed;"><img src="/images/bg2.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1583px; height: 857.788125px; max-width: none; z-index: -999999; left: 0px; top: -64.3940625px;"></div>


<%- include footer %>